services:
  amneziawg2:
    build:
      context: ./docker
      args:
        VERSION: "{{ amneziawg2_docker_image_version }}"
    image: "{{ amneziawg2_container_name }}:latest"
    container_name: "{{ amneziawg2_container_name }}"
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
    environment:
      SERVER_PUBLIC_KEY: "{{ amneziawg2_server_public_key }}"
      SERVER_PUBLIC_KEY_FILE: "{{ amneziawg2_container_state_directory_path }}/server_public.key"
      CONFIGURATION_FILE: "{{ amneziawg2_container_state_directory_path }}/{{ amneziawg2_interface_name }}.conf"
    volumes:
      - {{ amneziawg2_state_directory_path }}:{{ amneziawg2_container_state_directory_path }}
    ports:
      - "{{ amneziawg2_port }}:{{ amneziawg2_port }}/udp"
    healthcheck:
      test: ["CMD", "awg", "show", "{{ amneziawg2_interface_name }}"]
      interval: 5s
      timeout: 3s
      retries: 3
      start_period: 5s
    restart: unless-stopped
